<!-- src/web/templates/reportes/elegir_reporte.html -->
{% extends "layout.html" %}

{% block title %}Seleccionar Reporte{% endblock %}

{% block content %}
<h1 class="text-center">Seleccionar Reporte</h1>
<div class="d-flex justify-content-center gap-3 flex-wrap">
    <a href="{{ url_for('reportes.grafico_diagnostico') }}" class="btn btn-primary">Diagnostico de Jinetes</a>
    <a href="{{ url_for('reportes.reporte_empleados') }}" class="btn btn-secondary">Reporte de Empleados</a>
    <a href="{{ url_for('reportes.edad_promedio_por_actividad') }}" class="btn btn-secondary">Edad promedio por actividad</a>
</div>
{% endblock %}
