<!-- src/web/templates/reportes/historico_cobros.html -->
{% extends "layout.html" %}

{% block title %}Histórico de Cobros{% endblock %}

{% block content %}
<h1 class="text-center">Histórico de Cobros</h1>

{% if is_authenticated(session) and check_permission(session,"reporte_show") %}
{% if message %}
<div class="alert alert-warning text-center" role="alert">
    {{ message }}
</div>
{% endif %}

{% if jinete %}
<h2 class="text-center">Cobros de {{ jinete.nombre }} {{ jinete.apellido }}</h2>
{% endif %}

{% if cobros %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha de Pago</th>
            <th>Medio de Pago</th>
            <th>Monto</th>
            <th>Recibido por</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cobro in cobros %}
        <tr>
            <td>{{ cobro.fecha_pago }}</td>
            <td>{{ cobro.medio_pago }}</td>
            <td>${{ cobro.monto | round(2) }}</td>
            <td>{{ cobro.empleado.nombre }} {{ cobro.empleado.apellido }}</td>
            <td>{{ cobro.observaciones if cobro.observaciones else 'N/A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
