{% extends "layout.html" %}

{% block title %}Inicio de sesión{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


    
{% block content %}
<section>
    
    {{ super() }}
    


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }
          
          body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
          }
          
          .login-container {
            text-align: center;
          }
          
          .google-btn {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            color: #4285f4;
            background-color: #b5b2b2;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            transition: background-color 0.3s ease;
          }
          
          .google-btn:hover {
            background-color: #4285f4;
            color: #b5b2b2;
          }
          
          .google-logo {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
      </style>


    <div class="sesion-centrada">
        <div>
            <h1>{% if 'user' in session %}Sesión activa, {{ session.user }}
        </div>
        <div>
            <a href="{{ url_for("auth.logout") }}" role="button" class="btn btn-delete" style="margin-bottom: 2em;">Cerrar sesión</a>
        </div>
            {% else %}Iniciar sesión{% endif %}</h1>
        <img id="cedica" src="{{ url_for('static', filename='images/cedica.jpg') }}" alt="cedica" title="cedica" style="height: 10em;">
    </div>
    <!-- Mostrar el formulario de inicio de sesión solo si no hay sesión activa -->
    <div class="sesion-centrada">
        {% if 'user' not in session %}
        <form action="{{ url_for('auth.authenticate') }}" method="POST" class="client-form">
            <input type="email" name="email" placeholder="Correo" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <input type="submit" value="Ingresar" class="btn btn-add" style="height: 2em; margin: 1em; padding: 0 1em;"/>

        </form>
        <div class="separator">
          <span>- o -</span>
        </div>
        <div class="login-container">
            <!-- Botón de inicio de sesión con Google -->
            <a href="{{ url_for('auth.google_authenticate') }}" class="google-btn">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-logo">
            Iniciar sesión con Google
            </a>
          </div>
         
        {% endif %}
    </div>
</section>
{% endblock %}



