{% extends "layout.html" %}

{% block title %} Agregar documento a empleado {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <article class="form-container">
        <div>
            <h1 class="text-center">Cargar archivo</h1>
                
            <!-- Formulario de búsqueda y ordenamiento -->
            <form method="POST" action="{{ url_for('equipo.agregar_documento', empleado_id=empleado.id) }}" enctype="multipart/form-data" class="mb-3">
                <div class="form-group">
                    <label for="tipo_archivo">Tipo de Archivo:</label>
                    <select id="tipo_archivo" name="tipo_archivo" class="form-control">
                        <option value="TITULO">Titulo</option>
                        <option value="COPIA_DNI">Copia DNI</option>
                        <option value="CV_ACTUALIZADO">CV actualizado</option>
                    </select>
                </div>
                <fieldset>
                    <label>
                        <input type="file" name="documento" accept=".pdf,.doc,.docx,.jpg,.png" required>
                    </label>
                </fieldset>
                <input type="submit" value="Guardar">
            </form>
        </div>
    </article>

    <a class="secondary" href="{{ url_for('home') }}">Volver al inicio</a>
{% endblock %}