{% extends "layout.html" %}

{% block title %}Eliminar Documento{% endblock %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="delete-confirmation">
        <h2>¿Estás seguro de que deseas eliminar este documento?</h2>
        <div class="document-details">
            <p><strong>Nombre asignado:</strong> {{ doc.nombre_asignado }}</p>
            {% if not doc.is_enlace %}
                <p><strong>Nombre de archivo subido:</strong> {{ doc.titulo }}</p>
            {% endif %}
            <p><strong>Fecha de subida:</strong> {{ doc.fecha_subida.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p><strong>Tipo:</strong>
                {% if doc.is_enlace %}
                    ENLACE
                    {% else %}
                    {{doc.tipo_documento.value}} 
                    {% endif %}
            </p>
        </div>
        <div class="form-actions">
            <form action="{{ url_for('equipo.eliminar_documento', empleado_id=empleado.id, documento_id=doc.id) }}" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Confirmar</button>
            </form>
            <a href="{{ url_for('equipo.show_empleado', empleado_id=empleado.id, tab='documentos') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
{% endblock %}


