{% extends "layout.html" %}

{% block title %}Eliminar Empleado{% endblock %}

{% block content %}
    <h1 class="text-center">Eliminar empleado</h1>

    <p>Apellido: {{empleado.apellido}}</p>
    <p>Nombre: {{empleado.nombre}}</p>
    <p>DNI: {{empleado.dni}}</p>
    <p>Email: {{empleado.email}}</p>
    <p>Telefono: {{empleado.telefono}}</p>
    <p>Fecha de inicio: {{empleado.fecha_inicio}}</p>
    <p>Fecha de cese: {{empleado.fecha_cese if empleado.fecha_cese else "Ninguna asignada."}}</p>
    <p>Condicion: {{empleado.condicion}}</p>
    <p>Activo: {{"SI" if empleado.activo else "NO" }}</p>
    <p>Profesion: {{empleado.profesion.nombre}}</p>
    <p>Puesto laboral: {{empleado.puesto_laboral.nombre}}</p>
    

    <p>¿Estás seguro de que deseas eliminar este empleado?</p>

    <div class="form-actions">
        <form action="{{ url_for('equipo.destroy_empleado', empleado_id=empleado.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a href="{{ url_for('equipo.show_empleado', empleado_id=empleado.id) }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
