{% extends "layout.html" %}

{% block title %}Formulario de edición de empleado{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    
    <h1>Editar/actualizar empleado</h1>
    
    <form method="POST" action="{{ url_for('equipo.update_empleado', empleado_id=empleado.id) }}">
        {{ form.hidden_tag() }}
        
        <div>
            <label for="nombre">Nombre:</label>
            {{ form.nombre(class_="form-control") }}
        </div>

        <div>
            <label for="apellido">Apellido:</label>
            {{ form.apellido(class_="form-control") }}
        </div>

        <div>
            <label for="dni">DNI:</label>
            {{ form.dni(class_="form-control") }}
        </div>

        <div>
            <label for="email">Email:</label>
            {{ form.email(class_="form-control") }}
        </div>

        <div>
            <label for="telefono">Teléfono:</label>
            {{ form.telefono(class_="form-control") }}
        </div>

        <div>
            <label for="fecha_inicio">Fecha de Inicio:</label>
            {{ form.fecha_inicio(class_="form-control") }}
        </div>

        <div>
            <label for="fecha_cese">Fecha de Cese (opcional):</label>
            {{ form.fecha_cese(class_="form-control") }}
        </div>

        <div>
            <label for="condicion">Condición:</label>
            {{ form.condicion(class_="form-control") }}
        </div>

        <div>
            <label for="activo">Activo:</label>
            {{ form.activo() }}
        </div>

        <div>
            <label for="profesion_id">Profesión:</label>
            {{ form.profesion_id(class_="form-control") }}
        </div>

        <div>
            <label for="puesto_laboral_id">Puesto Laboral:</label>
            {{ form.puesto_laboral_id(class_="form-control") }}
        </div>

        
        <div>
            <label for="obra_social">Obra Social:</label>
            {{ form.obra_social(class_="form-control") }}
        </div>

        <div>
            <label for="nro_afiliado">Numero Afiliado:</label>
            {{ form.nro_afiliado(class_="form-control") }}
        </div>

        <div>
            <label for="domicilio_calle">Calle:</label>
            {{ form.domicilio_calle(class_="form-control") }}
        </div>
        
        <div>
            <label for="domicilio_numero">Numero:</label>
            {{ form.domicilio_numero(class_="form-control") }}
        </div>
        
        <div>
            <label for="domicilio_departamento">Departamento:</label>
            {{ form.domicilio_departamento(class_="form-control") }}
        </div>
        
        <div>
            <label for="domicilio_piso">Piso:</label>
            {{ form.domicilio_piso(class_="form-control") }}
        </div>
        
        <div>
            <label for="domicilio_provincia">Provincia:</label>
            {{ form.domicilio_provincia(class_="form-control") }}
        </div>
        
        <div>
            <label for="domicilio_localidad">Localidad:</label>
            {{ form.domicilio_localidad(class_="form-control") }}
        </div>
        
        
        <div>
            <label for="contacto_emergencia_nombre">Nombre contacto de Emergencia:</label>
            {{ form.contacto_emergencia_nombre(class_="form-control") }}
        </div>
        
        <div>
            <label for="contacto_emergencia_apellido">Apellido contacto de Emergencia:</label>
            {{ form.contacto_emergencia_apellido(class_="form-control") }}
        </div>
        
        <div>
            <label for="contacto_emergencia_telefono">Telefono contacto de Emergencia:</label>
            {{ form.contacto_emergencia_telefono(class_="form-control") }}
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Agregar empleado</button>
            <a href="{{ url_for('equipo.show_empleado', empleado_id=empleado.id) }}" class="btn btn-cancel">Cancelar</a>
        </div>
    </form>
{% endblock %}
