{% extends "layout.html" %}

{% block title %} Ver empleado {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='equipo_style.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    
    <!-- Contenedor de pestañas -->
    <div class="tab-container">
        <div class="tab active" onclick="openTab(event, 'general')">Información general</div>
        <div class="tab" onclick="openTab(event, 'documentos')">Documentos</div>
    </div>

    <!-- Contenido de la pestaña "Información general" -->
    <div id="general" class="tab-content active">
        <div class="caja">
            <h3>Datos del empleado:</h3>
            <p><strong>Apellido:</strong> {{empleado.apellido}}</p>
            <p><strong>Nombre:</strong> {{empleado.nombre}}</p>
            <p><strong>DNI:</strong> {{empleado.dni}}</p>
            <p><strong>Email:</strong> {{empleado.email}}</p>
            <p><strong>Teléfono:</strong> {{empleado.telefono}}</p>
            <p><strong>Fecha de inicio:</strong> {{empleado.fecha_inicio.strftime('%d/%m/%Y')}}</p>
            <p><strong>Fecha de cese:</strong> {{empleado.fecha_cese.strftime('%d/%m/%Y') if empleado.fecha_cese else "Ninguna asignada"}}</p>
            <p><strong>Condición:</strong> {{empleado.condicion.value}}</p>
            <p><strong>Activo:</strong> {{ "SI" if empleado.activo else "NO" }}</p>
            <p><strong>Profesión:</strong> {{empleado.profesion.nombre}}</p>
            <p><strong>Puesto laboral:</strong> {{empleado.puesto_laboral.nombre}}</p>
        </div>
        <div class="caja">
            <h3>Datos de la obra social:</h3>
            <p><strong>Obra Social:</strong> {{empleado.obra_social}}</p>
            <p><strong>Número de afiliado:</strong> {{empleado.nro_afiliado}}</p>
        </div>
        <div class="caja">
            <h3>Domicilio del empleado:</h3>
            <p><strong>Calle:</strong> {{empleado.domicilio.calle}}</p>
            <p><strong>Número:</strong> {{empleado.domicilio.numero}}</p>
            <p><strong>Departamento:</strong> {{empleado.domicilio.departamento if empleado.domicilio.departamento else "Ninguno"}}</p>
            <p><strong>Piso:</strong> {{empleado.domicilio.Piso if empleado.domicilio.Piso else "Ninguno"}}</p>
            <p><strong>Provincia:</strong> {{empleado.domicilio.provincia.nombre}}</p>
            <p><strong>Localidad:</strong> {{empleado.domicilio.localidad.nombre}}</p>
        </div>
        <div class="caja">
            <h3>Contacto de emergencia:</h3>
            <p><strong>Apellido:</strong> {{empleado.contacto_emergencia.apellido}}</p>
            <p><strong>Nombre:</strong> {{empleado.contacto_emergencia.nombre}}</p>
            <p><strong>Teléfono:</strong> {{empleado.contacto_emergencia.telefono}}</p>
        </div>
        <div class="caja">
            <h3>Roles</h3>
            {% if roles_asignados %}
                <ul>
                    {% for rol in roles_asignados %}
                        <li>{{ rol }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <span>No tiene roles asignados.</span>
            {% endif %}
        </div>
        <div class="form-actions">
            <a href="{{url_for('equipo.edit_empleado_form', empleado_id=empleado.id)}}" class="btn btn-edit" style="margin-right: 1em;">Modificar</a>
            <a href="{{url_for('equipo.delete_empleado', empleado_id=empleado.id)}}" class="btn btn-delete" style="margin-right: 1em;">Eliminar</a>
            <a href="{{url_for('equipo.listar_empleados')}}" class="btn btn-back">Lista de empleados</a>
        </div> 
    </div>

    <div id="documentos" class="tab-content {% if active_tab == 'documentos' %}active{% endif %}">
        <form method="GET" action="{{ url_for('equipo.show_empleado', empleado_id=empleado.id) }}" class="mb-3">
            <div class="form-row">
                <div class="form-group col-6">
                    <input type="hidden" name="tab" value="documentos">
                    <label for="sort_by">Ordenar por:</label>
                    <select name="sort_by" id="sort_by" class="form-control">
                        <option value="titulo_asc">Título (Ascendente)</option>
                        <option value="titulo_desc">Título (Descendente)</option>
                        <option value="fecha_asc">Fecha de subida (Ascendente)</option>
                        <option value="fecha_desc">Fecha de subida (Descendente)</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="search">Buscar:</label>
                    <input type="text" id="search" name="search" placeholder="Título o tipo" class="form-control" value="{{ request.args.get('search', '') }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-sort btn-secondary">Ordenar</button>
                </div>
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-sort btn-secondary">Buscar</button>
                </div>
            </div>
        </form>

        <h3>Documentos y enlaces:</h3>
        {% if documentos_paginated %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre asignado</th>
                        <th>Fecha subida</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in documentos_paginated %}
                        <tr>
                            <td>{{ doc.nombre_asignado }}</td>
                            <td>{{ doc.fecha_subida.strftime('%d/%m/%Y %H:%M') }}</td>
                            <td>{% if doc.is_enlace %}ENLACE{% else %}{{ doc.tipo_documento.value }}{% endif %}</td>
                            <td>
                                <div class="btn-group d-none d-lg-block">
                                    {% if doc.is_enlace %}
                                        <a href="{{ doc.url_enlace }}" class="btn btn-add">Abrir enlace</a>
                                    {% else %}
                                        <a href="{{ url_for('equipo.descargar_archivo', empleado_id=empleado.id, file_name=doc.titulo) }}" class="btn btn-add">Descargar</a>
                                    {% endif %}
                                    {% if doc.is_enlace %}
                                        <a href="{{ url_for('equipo.edit_enlace_form', empleado_id=empleado.id, documento_id=doc.id) }}" class="btn btn-edit">Modificar</a>
                                    {% else %}
                                        <a href="{{ url_for('equipo.edit_documento_form', empleado_id=empleado.id, documento_id=doc.id) }}" class="btn btn-edit">Modificar</a>
                                    {% endif %}
                                    <a href="{{ url_for('equipo.eliminar_documento_form', empleado_id=empleado.id, documento_id=doc.id) }}" class="btn btn-delete">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay documentos disponibles.</p>
        {% endif %}
        <div class="form-actions">
            <a href="{{ url_for('equipo.subir_enlace_form', empleado_id=empleado.id) }}" class="btn btn-enlace" style="margin-right: 1em;">+ Enlace</a>
            <a href="{{ url_for('equipo.subir_archivo_form', empleado_id=empleado.id) }}" class="btn btn-subir">↑ Subir</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var activeTab = "{{ active_tab }}";
            openTab(null, activeTab ? activeTab : 'general');
        });

        function openTab(evt, tabName) {
            var i, tabContent, tabs;
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
                tabContent[i].classList.remove("active");
            }
            tabs = document.getElementsByClassName("tab");
            for (i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active");
            }
            var currentTab = document.getElementById(tabName);
            if (currentTab) {
                currentTab.style.display = "block";
                currentTab.classList.add("active");
            }
            if (evt) {
                evt.currentTarget.classList.add("active");
            } else {
                Array.from(tabs).forEach(function(tab) {
                    if (tab.getAttribute('onclick').includes("'" + tabName + "'")) {
                        tab.classList.add("active");
                    }
                });
            }
        }
    </script>
{% endblock %}
