{% extends "layout.html" %}

{% block title %}Consultas{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Consultas</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Titulo</th>
            <th>user</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <th>{{ issue.id }}</th>
            <th>{{ issue.email }}</th>
            <th>{{ issue.title }}</th>
            <th>{{ issue.user.email}}</th>
            <th>{{ issue.status }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}