{% extends "layout.html" %}

{% block title %} Listado de Cobros {% endblock %}

{% block content %}
    <h1>Listado de Cobros</h1>

    {% if success_cobro %}
    <div class="alert alert-success" role="alert">
        {{ success_cobro }}
    </div>
    {% endif %}
    
    {% if is_authenticated(session) and check_permission(session,"cobro_create") %}
    <div class="actions">
        <a href="{{ url_for('cobros.registrar_cobro') }}" class="btn btn-add">Registrar Cobro</a>
    </div>
    {% endif %}

    <form method="GET" action="{{ url_for('cobros.buscar_cobros') }}" class="mb-3 search-form">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="fecha_inicio">Fecha Inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="fecha_fin">Fecha Fin:</label>
                <input type="date" id="fecha_fin" name="fecha_fin" class="form-control">
            </div>
            
            <div class="form-group col-md-4">
                <label for="nombre">Nombre del que recibio el dinero:</label>
                <input type="text" id="nombre" name="nombre" class="form-control">
            </div>
    
            <div class="form-group col-md-4">
                <label for="apellido">Apellido del que recibio el dinero:</label>
                <input type="text" id="apellido" name="apellido" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="medio_pago">Medio de Pago:</label>
                <select id="medio_pago" name="medio_pago" class="form-control">
                    <option value="">Todos</option>
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta_credito">Tarjeta de Crédito</option>
                    <option value="tarjeta_debito">Tarjeta de Débito</option>
                </select>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Jinete o Amazona</th>
                <th>
                    <a href="{{ url_for('cobros.listar_cobros', orden='asc') }}">Fecha de Pago &#9650;</a> 
                    <a href="{{ url_for('cobros.listar_cobros', orden='desc') }}">&#9660;</a>
                </th>
                <th>Medio de Pago</th>
                <th>Monto</th>
                <th>Recibido por</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cobro in cobros_realizado %}
            <tr>
                <td>{{ cobro.jinete.nombre }} {{ cobro.jinete.apellido }}</td>
                <td>{{ cobro.fecha_pago.strftime('%Y-%m-%d') }}</td>
                <td>{{ cobro.medio_pago.capitalize() }}</td>
                <td>{{ cobro.monto }}</td>
                <td>{{ cobro.empleado.nombre }} {{ cobro.empleado.apellido }}</td>
                <td>{{ cobro.observaciones }}</td>
                <td>
                    {% if is_authenticated(session) and check_permission(session,"cobro_destroy") %}
                    <form method="POST" action="{{ url_for('cobros.eliminar_cobro', id=cobro.id) }}" style="display:inline;">
                        <button type="submit" class="btn btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar este cobro?');">Eliminar</button>
                    </form>
                    {% endif %}
                    {% if is_authenticated(session) and check_permission(session,"cobro_update") %}                    
                    <a href="{{ url_for('cobros.editar_cobro', id=cobro.id) }}" class="btn btn-edit">Editar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Paginación">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('cobros.listar_cobros', page=pagination.prev_num) }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            {% endif %}
    
            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('cobros.listar_cobros', page=pagination.next_num) }}">Siguiente</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}