{% extends "layout.html" %}

{% block title %}Eliminar consulta{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Eliminar consulta</h1>

    <div class="caja">
        <h5><strong>Nombre:</strong> {{consulta.nombre}}</h5>
        <h5><strong>Email:</strong> {{consulta.email}}</h5>
        <h5><strong>Mensaje:</strong> {{consulta.mensaje}}</h5>
    </div>

    <div>
        <h3>¿Estás seguro de que deseas eliminar esta consulta?</h3>
        
        <div class="form-actions">
            <form action="{{ url_for('contacto.delete_consulta', consulta_id=consulta.id) }}" method="POST">
                <button type="submit" class="btn btn-delete" style="margin-right: 1em;">Confirmar</button>
            </form>
            <a href="{{ url_for('contacto.listar_consultas') }}" class="btn btn-back">Cancelar</a>
        </div>
    </div>  
{% endblock %}