{% extends "layout.html" %}

{% block title %} Editar Cliente {% endblock %}

{% block content %}
    <h1 class="text-center">Editar Cliente</h1>

    <form action="{{ url_for('users.update_user', user_id=user.id) }}" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>
        </div>

        <div class="form-group">
            <label for="alias">Alias</label>
            <input type="text" id="alias" name="alias" value="{{ user.alias }}" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" value="{{ user.password }}" required>
        </div>

        <div class="form-group">
            <label for="is_admin">¿Es administrador del sistema?</label>
            <input type="checkbox" id="is_admin" name="is_admin" {% if user.system_admin %}checked{% endif %}>
        </div>

        <div class="form-group">
            <label for="is_active">¿Está activo?</label>
            <input type="checkbox" id="is_active" name="is_active" {% if user.activo %}checked{% endif %}>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-submit">Guardar Cambios</button>
            <a href="{{ url_for('users.listar_usuarios') }}" class="btn btn-cancel">Cancelar</a>
        </div>
    </form>
{% endblock %}
