{% extends "layout.html" %}

{% block title %} Listado de Clientes {% endblock %}

{% block head %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='listadoStyle.css') }}">
{% endblock %}

{% block navbar %}
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="text-center">Listado de Clientes</h1>

    <div class="actions">
        <a href="{{ url_for('add_client') }}" class="btn btn-add">Agregar Cliente</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Alias</th>
                <th>System Admin</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.alias }}</td>
                <td>{{ 'Sí' if user.system_admin else 'No' }}</td>
                <td>{{ 'Sí' if user.activo else 'No' }}</td>
                <td>
                    <a href="{{ url_for('edit_client', client_id=user.id) }}" class="btn btn-edit">Editar</a>
                    <a href="{{ url_for('delete_client', client_id=user.id) }}" class="btn btn-delete">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <footer>
        <p>&copy; 2024 Listado de Clientes</p>
    </footer>
{% endblock %}
