/* Variables for common styles */
:root {
    --primary-color: #555;
    --secondary-color: #fff;
    --shadow-dark: 0 -1px 1px rgba(0,0,0,0.7);
    --font-size-large: 22px;
    --background-light: #ece6e6;
    --border-radius-large: 20px;
    --text-color-default: #333;
    --link-hover-background: #53A7EA;
    --input-border-color: #F1B720;
}

/* Basic Reset */
html {
    height: 100%;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #dbd6d6;
    font-size: 16px;
    color: var(--text-color-default);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0%;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.5rem;
}

header, footer {
    width: 100%;
    margin: 0 auto;
    background-color: #e0f7fa;
    padding: 0;
}

.navbar, .footer {
    color: #333;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

/* Structural Layout */
.container {
    width: 100%;
    background-color: #e0f7fa;
    position: relative;
    padding: 0;
}

.container > header {
    margin: 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 10px !important;
}

.container > header h1 {
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    position: relative;
    font-weight: 300;
    color: var(--primary-color);
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.container > header h2 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 5px 0;
    color: var(--primary-color);
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

footer {
    background-color: #e0f7fa; 
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 2px; 
    
}

.example-wrapper, .demo-wrapper {
    width: 100%;
    max-width: 1000px;
    padding: 0 30px 40px 30px;
    margin: 20px auto;
    background: var(--background-light);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: var(--border-radius-large);
}

.example-wrapper h3 {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: var(--shadow-dark);
    border-radius: 20px 20px 0 0;
    padding: 13px 20px;
    font-size: var(--font-size-large);
}

.inline-link-1 {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #97CAF2;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-out;
}

.inline-link-1:hover {
    background: var(--link-hover-background);
}

.inline-link-1:active {
    background: #C4E1F8;
}

.inline-link-1:visited {
    background: #F2BF97;
}

.nav-link {
    font-size: 25px;
}

.nav-item {
    display: flex;
    justify-content: center;  
    align-items: center;
}

#logo {
    height: 150px;
    width: auto;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    place-items: center;
    min-height: 60vh;
    margin-top: 5em;
    margin-bottom: 2em;
}

.navbar-class {
    position: fixed;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
}

.navbar-light {
    color: #555;
}

.bg-light {
    background-color: #f8f9fa;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-tag {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: inherit;
}
.nav-link:hover {
    background-color: #eee;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.disabled {
    color: #ccc;
    pointer-events: none;
}

.text-dark {
    color: #343a40;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

