{% extends "layout.html" %}

{% block title %} Subir documento {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <article class="form-container">
        <div>
            
            <h1 class="text-center">Cargar archivo</h1>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}    
            <!-- Formulario de búsqueda y ordenamiento -->
            <form method="POST" action="{{ url_for('ecuestre.agregar_documento',  ecuestre_id=ecuestre.id) }}" enctype="multipart/form-data" class="mb-3">
                <div class="form-group">
                    <label for="nombre_asignado">Nombre del archivo:</label>
                    <input type="text" id="nombre_asignado" name="nombre_asignado" required>
                    <label for="tipo_archivo">Tipo de Archivo:</label>
                    <select id="tipo_archivo" name="tipo_archivo" class="form-control" required>
                        <option value="Ficha general">Ficha general</option>
                        <option value="Planificación de Entrenamiento">Planificación de Entrenamiento</option>
                        <option value="Informe de Evolución">Informe de Evolución</option>
                        <option value="Carga de Imágenes">Carga de Imágenes</option>
                        <option value="Registro veterinario">Registro veterinario</option>
                    </select>
                </div>
                <fieldset>
                    <label>
                        <input type="file" name="documento" required>
                    </label>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" value="Guardar" class="btn btn-add" style="margin-right: 1em;">
                    <a href="{{ url_for('ecuestre.ver_ecuestre', ecuestre_id=ecuestre.id) }}" class="btn btn-back">Volver al ecuestre</a>
                </div>
            </form>

        </div>
    </article>
{% endblock %}