{% extends "layout.html" %}

{% block title %} Listado de Caballos {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <h1 class="text-center">Listado de Caballos</h1>

    
    {% if ecuestre %}

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Raza</th>
                <th>Pelaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ecuestre in ecuestre %}
            <tr>
                <td>{{ ecuestre.nombre }}</td>
                <td>{{ ecuestre.fecha_nacimiento }}</td>
                <td>{{ "Macho" if ecuestre.sexo else "Hembra" }}</td>
                <td>{{ ecuestre.raza }}</td>
                <td>{{ ecuestre.pelaje }}</td>
                <td>
                    <a href="{{ url_for('ecuestre.ver_ecuestre', ecuestre_id=ecuestre.id) }}" class="btn btn-view">Ver</a>
                    <a href="{{ url_for('ecuestre.edit_ecuestre_form', ecuestre_id=ecuestre.id) }}" class="btn btn-edit">Modificar</a>
                    <a href="{{ url_for('ecuestre.delete_ecuestre_form', ecuestre_id=ecuestre.id) }}" class="btn btn-edit">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay caballos para mostrar.</p>
    {% endif %}

{% endblock %}

