{% extends "layout.html" %}

{% block title %}Agregar jinete{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
{{ super() }}

    <h1 class="text-center">agregar jinete</h1>
    
    <form action="{{ url_for('jya.add_jinete') }}" method="POST">
        {{ form.hidden_tag() }}

        <div class="caja">
            <h2><strong> DATOS PERSONALES DEL JINETE O AMAZONA </strong></h2>
                    
            <div>
                <label for="nombre" class="form-element">Nombre/s:</label>
                {{ form.nombre }}
            </div>
            
            <div>
                <label for="apellido" class="form-element">Apellido/s:</label>
                {{ form.apellido }}
            </div>

            <div>
                <label for="dni" class="form-element">DNI:</label>
                {{ form.dni }}
            </div>
            
            <div>
                <label for="edad" class="form-element">Edad:</label>
                {{ form.edad }}
            </div>

            <div>
                <label for="fecha_nacimiento" class="form-element">Fecha de Nacimiento:</label>
                {{ form.fecha_nacimiento }}
            </div>
            
            <div><strong> Lugar de nacimiento: </strong></div>
            <div>
                <label for="provincia_nacimiento" class="form-element">Provincia:</label>
                {{ form.provincia_nacimiento }}
            </div>

            <div>
                <label for="localidad_nacimiento" class="form-element">Localidad:</label>
                {{ form.localidad_nacimiento }}
            </div>

            <div><strong> Domicilio actual: </strong></div>
            <div>
                <label for="domicilio_calle" class="form-element">Calle:</label>
                {{ form.domicilio_calle }}
            </div>
            
            <div>
                <label for="domicilio_numero" class="form-element">Numero:</label>
                {{ form.domicilio_numero }}
            </div>
            
            <div>
                <label for="domicilio_departamento" class="form-element">Departamento:</label>
                {{ form.domicilio_departamento }}
            </div>
            
            <div>
                <label for="domicilio_piso" class="form-element">Piso:</label>
                {{ form.domicilio_piso }}
            </div>
            
            <div>
                <label for="domicilio_provincia" class="form-element">Provincia:</label>
                {{ form.domicilio_provincia }}
            </div>
            
            <div>
                <label for="domicilio_localidad" class="form-element">Localidad:</label>
                {{ form.domicilio_localidad }}
            </div>

            <div>
                <label for="telefono" class="form-element">Teléfono actual:</label>
                {{ form.telefono }}
            </div>

            <div>
                <label for="contacto_emergencia_nombre" class="form-element">Nombre contacto de emergencia:</label>
                {{ form.contacto_emergencia_nombre }}
            </div>
            
            <div>
                <label for="contacto_emergencia_apellido" class="form-element">Apellido contacto de emergencia:</label>
                {{ form.contacto_emergencia_apellido }}
            </div>
            
            <div>
                <label for="contacto_emergencia_telefono" class="form-element">Teléfono contacto de Emergencia:</label>
                {{ form.contacto_emergencia_telefono }}
            </div>

            <div>
                <label for="estado_pago" class="form-element">¿Está al día?</label>
                <input type="radio" id="estado_pago_si" name="estado_pago" value="si" 
                    {% if form.estado_pago == True %}checked{% endif %}>
                <label for="estado_pago_si">Sí</label>
                <input type="radio" id="estado_pago_no" name="estado_pago" value="no" 
                    {% if form.estado_pago == False %}checked{% endif %}>
                <label for="estado_pago_no">No</label>
            </div>

            <div>
                <label for="becado" class="form-element">Becado:</label>
                <input type="radio" id="becado_si" name="becado" value="si"
                {% if form.becado == True %}checked{% endif %}>
                <label for="becado_si">Sí</label>
                <input type="radio" id="becado_no" name="becado" value="no"
                {% if form.becado == False %}checked{% endif %}>
                <label for="becado_no">No</label>
            </div>

            <div>
                <label for="observaciones_becado" class="form-element">observaciones:</label>
                {{ form.observaciones_becado }}
            </div>

            <div>
                <label for="certificado_discapacidad" class="form-element">
                    ¿Posee certificado<br>
                    de discapacidad?
                </label>
                <input type="radio" id="certificado_si" name="certificado" value="si"
                {% if form.certificado_discapacidad == True %}checked{% endif %}>
                <label for="certificado_si">Sí</label>
                <input type="radio" id="certificado_no" name="certificado" value="no"
                {% if form.certificado_discapacidad == False %}checked{% endif %}>
                <label for="certificado_no">No</label>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () { //funcion para deshabilitar el tipo de diagnostico en caso de no tener certificado.
                    const radioButtons = document.querySelectorAll('input[name="certificado"]');
                    const selectDiagnostico = document.getElementById('diagnostico');
                    const selectOtro = document.getElementById('otro');

                
                    radioButtons.forEach(radio => {
                        radio.addEventListener('change', function() {
                            // Habilita el desplegable si la opción "Sí" está seleccionada
                            if (document.getElementById('certificado_si').checked) {
                                selectDiagnostico.disabled = false;
                                selectOtro.disabled = false;
                            } else {
                                selectDiagnostico.disabled = true;
                                selectOtro.disabled = true;
                            }
                        });
                    });
                });
            </script>
            
            <div>
                <label for="diagnostico" class="form-element">tipo diagnostico:</label>
                {{ form.diagnostico }}
            </div>

            <div>
                <label for="otro" class="form-element">Si es otro indique cuál:</label>
                {{ form.otro }}
            </div>

            <div class="form-group">
                <label>Tipos de Discapacidad:</label>
                {% for checkbox in form.discapacidades %}
                    <div class="form-check">
                        {{ checkbox.label(class="form-check-label") }}
                        {{ checkbox(class="form-check-input") }}
                    </div>
                {% endfor %}
            </div>
            
            <div>
                <label for="asignacion_familiar" class="form-element">¿Percibe alguna asignación familiar?</label>
                <input type="radio" id="asignacion_si" name="asignacion" value="si"
                {% if form.asignacion_familiar == True %}checked{% endif %}>
                <label for="asignacion_si">Sí</label>
                <input type="radio" id="asignacion_no" name="asignacion" value="no"
                {% if form.asignacion_familiar == False %}checked{% endif %}>
                <label for="asignacion_no">No</label>
            </div>

            <div>
                <label for="tipo_asignacion" class="form-element">Tipo de asignación:</label>
                {{ form.tipo_asignacion }}
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const radioButtons = document.querySelectorAll('input[name="asignacion"]');
                    const selectAsignacion = document.getElementById('tipo_asignacion'); // Asegúrate de que este ID sea correcto
                
                    radioButtons.forEach(radio => {
                        radio.addEventListener('change', function() {
                            // Habilita o deshabilita el elemento según si la opción "Sí" está seleccionada
                            selectAsignacion.disabled = !document.getElementById('asignacion_si').checked;
                        });
                    });
                });
            </script>

            <div>
                <label for="beneficiario_pension" class="form-element">¿Es beneficiario de alguna pensión?</label>
                <input type="radio" id="pension_si" name="beneficiario_pension" value="si"
                {% if form.beneficiario_pension == True %}checked{% endif %}>
                <label for="pension_si">Sí</label>
                <input type="radio" id="pension_no" name="beneficiario_pension" value="no"
                {% if form.beneficiario_pension == False %}checked{% endif %}>
                <label for="pension_no">No</label>
            </div>

            <div>
                <label for="pension" class="form-element">tipo pension:</label>
                {{ form.pension }}
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const radioButtons = document.querySelectorAll('input[name="beneficiario_pension"]');
                    const selectPension = document.getElementById('tipo_pension');
                
                    radioButtons.forEach(radio => {
                        radio.addEventListener('change', function() {
                            // Habilita o deshabilita el elemento según si la opción "Sí" está seleccionada
                            selectPension.disabled = !document.getElementById('pension_si').checked;
                        });
                    });
                });
            </script>
        </div>

        <div class="caja">
            <h2><strong> SITUACIÓN PREVISIONAL </strong></h2>

            <div>
                <label for="obra_social" class="form-element">Obra Social:</label>
                {{ form.obra_social }}
            </div>
            
            <div>
                <label for="nro_afiliado" class="form-element">Numero afiliado:</label>
                {{ form.nro_afiliado }}
            </div>

            <div>
                <label for="curatela" class="form-element"> ¿Posee curatela? </label>
                <input type="radio" id="curatela_si" name="curatela" value="si"
                {% if form.curatela == True %}checked{% endif %}>
                <label for="curatela_si">Sí</label>
                <input type="radio" id="curatela_no" name="curatela" value="no"
                {% if form.curatela == False %}checked{% endif %}>
                <label for="curatela_no">No</label>
            </div>
            
            <div>
                <label for="observaciones_curatela" class="form-element">observaciones:</label>
                {{ form.observaciones_curatela }}
            </div>
        </div>

        <div class="caja">
            <h2><strong> INSTITUCIÓN ESCOLAR a la que CONCURRE ACTUALMENTE </strong></h2>

            <div>
                <label for="nombre_institucion" class="form-element">Nombre de la Institución:</label>
                {{ form.nombre_institucion }}
            </div>

            <div>
                <label for="telefono_institucion" class="form-element">Teléfono:</label>
                {{ form.telefono_institucion }}
            </div>

            <div>
                <label for="institucion_direccion_calle" class="form-element">Calle:</label>
                {{ form.institucion_direccion_calle }}
            </div>
            
            <div>
                <label for="institucion_direccion_numero" class="form-element">Numero:</label>
                {{ form.institucion_direccion_numero }}
            </div>

            <div>
                <label for="institucion_direccion_departamento" class="form-element">Departamento:</label>
                {{ form.institucion_direccion_departamento }}
            </div>

            <div>
                <label for="institucion_direccion_piso" class="form-element">Piso:</label>
                {{ form.institucion_direccion_piso }}
            </div>
            
            <div>
                <label for="institucion_direccion_provincia" class="form-element">Provincia:</label>
                {{ form.institucion_direccion_provincia }}
            </div>
            
            <div>
                <label for="institucion_direccion_localidad" class="form-element">Localidad:</label>
                {{ form.institucion_direccion_localidad }}
            </div>

            <div>
                <label for="grado" class="form-element">Grado / año actual:</label>
                {{ form.grado }}
            </div>

            <div>
                <label for="observaciones_institucion" class="form-element">Observaciones:</label>
                {{ form.observaciones_institucion }}
            </div>

            <div>
                <label for="profesionales" class="form-element">PROFESIONALES que lo ATIENDEN:</label>
                {{ form.profesionales }}
            </div>
        </div>

        <div class="caja">
            <h2><strong> DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s </strong></h2>
            <div>
                <label for="parentesco_familiar" class="form-element">Parentesco:</label>
                {{ form.parentesco_familiar }}
            </div>
            
            <div>
                <label for="nombre_familiar" class="form-element">Nombre:</label>
                {{ form.nombre_familiar }}
            </div>
            
            <div>
                <label for="apellido_familiar" class="form-element">Apellido/s:</label>
                {{ form.apellido_familiar }}
            </div>

            <div>
                <label for="dni_familiar" class="form-element">DNI:</label>
                {{ form.dni_familiar }}
            </div>
            
            <div><strong> Domicilio actual: </strong></div>
            <div>
                <label for="domicilio_familiar_calle" class="form-element">Calle:</label>
                {{ form.domicilio_familiar_calle }}
            </div>
            
            <div>
                <label for="domicilio_familiar_numero" class="form-element">Numero:</label>
                {{ form.domicilio_familiar_numero }}
            </div>

            <div>
                <label for="domicilio_familiar_departamento" class="form-element">Departamento:</label>
                {{ form.domicilio_familiar_departamento }}
            </div>

            <div>
                <label for="domicilio_familiar_piso" class="form-element">Piso:</label>
                {{ form.domicilio_familiar_piso }}
            </div>

            <div>
                <label for="domicilio_familiar_provincia" class="form-element">Provincia:</label>
                {{ form.domicilio_familiar_provincia }}
            </div>

            <div>
                <label for="domicilio_familiar_localidad" class="form-element">localidad:</label>
                {{ form.domicilio_familiar_localidad }}
            </div>


            <div>
                <label for="celular_familiar" class="form-element">Celular actual:</label>
                {{ form.celular_familiar }}
            </div>

            <div>
                <label for="nivel_escolaridad_familiar" class="form-element">escolaridad:</label>
                {{ form.nivel_escolaridad_familiar }}
            </div>

            <div>
                <label for="email_familiar" class="form-element">email:</label>
                {{ form.email_familiar }}
            </div>
            
            <div>
                <label for="actividad_ocupacion_familiar" class="form-element">Actividad u ocupación:</label>
                {{ form.actividad_ocupacion_familiar }}
            </div>
        </div>

        <div class="caja">
            <h2><strong> TRABAJO EN NUESTRA INSTITUCIÓN: </strong></h2>

            <div>
                <label for="trabajo_institucional" class="form-element">Propuesta de trabajo Institucional:</label>
                {{ form.trabajo_institucional }}
            </div>

            <div>
                <label for="condicion" class="form-element">Condición:</label>
                <input type="radio" id="condicion_si" name="condicion" value="si"
                {% if form.condicion == True %}checked{% endif %}>
                <label for="condicion_si">Regular</label>
                <input type="radio" id="condicion_no" name="condicion" value="no"
                {% if form.condicion == False %}checked{% endif %}>
                <label for="condicion_no">De baja</label>
            </div>

            <div>
                <label for="sede" class="form-element">SEDE:</label>
                {{ form.sede }}
            </div>

            <div class="form-group">
                <label>Dias:</label>
                {% for checkbox in form.dias %}
                    <div class="form-check">
                        {{ checkbox.label(class="form-check-label") }}
                        {{ checkbox(class="form-check-input") }}
                    </div>
                {% endfor %}
            </div>

            
            <div>
                <label for="caballo" class="form-element">Caballo:</label>
                {{ form.caballo }}
            </div>
            
            
            <div>
                <label for="profesor_o_terapeuta" class="form-element">Profesor o terapeuta:</label>
                {{ form.profesor_o_terapeuta }}
            </div>
            
            
            <div>
                <label for="conductor_caballo" class="form-element">Conductor caballo:</label>
                {{ form.conductor_caballo }}
            </div>
            
            <div>
                <label for="auxiliar_pista" class="form-element">Auxiliar de pista:</label>
                {{ form.auxiliar_pista }}
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-add" style="margin-right: 1em;">Agregar Jinete</button>
            <a href="{{ url_for('jya.listar_jinetes') }}" class="btn btn-back">Cancelar</a>
        </div>
        


    </form>
{% endblock %}