{% extends "layout.html" %}

{% block title %}Editar Jinete{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div>
        <h1 class="text-center">Editar Jinete</h1>
        
        <form action="{{ url_for('jya.editar_jinete', jinete_id=jinete.id) }}" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="nombre">Nombre/s:</label>
                <input type="text" id="nombre" name="nombre" value="{{ jinete.nombre }}" required>
            </div>
    
            <div class="form-group">
                <label for="apellido">Apellido/s:</label>
                <input type="text" id="apellido" name="apellido" value="{{ jinete.apellido }}" required>
            </div>

            
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" value="{{ jinete.dni }}" required>
            </div>

            
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="edad" id="edad" name="edad" value="{{ jinete.edad }}" required>
            </div>

                
            <div class="form-group">
                <label for="fecha_nacimiento">Fecha nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ fecha_nacimiento }}" required>
            </div>


            <div><strong> Lugar de nacimiento: </strong></div>

                
            <div class="form-group">
                <label for="provincia_nacimiento">Provincia de nacimiento:</label>
                <select id="provincia_nacimiento" name="provincia_nacimiento" value="{{jinete.provincia_nacimiento.id}}" required>
                    {% for prov in provincias %}
                        <option value="{{prov.id}}">{{prov.nombre}}</option>
                    {% endfor %}

                </select>
            </div>

                
            <div class="form-group">
                <label for="localidad_nacimiento">Localidad de nacimiento:</label>
                <select id="localidad_nacimiento" name="localidad_nacimiento" value="{{jinete.localidad_nacimiento.id}}" required>
                    {% for loc in localidades %}
                        <option value="{{loc.id}}">{{loc.nombre}}</option>
                    {% endfor %}

                </select>
            </div>

            <div><strong> Domicilio actual: </strong></div>
            

            <div class="form-group">
                <label for="domicilio.calle">Calle:</label>
                <input type="text" id="domicilio.calle" name="domicilio.calle" value="{{ jinete.domicilio.calle }}" required>
            </div>

            
            <div class="form-group">
                <label for="domicilio.numero">Numero:</label>
                <input type="text" id="domicilio.numero" name="domicilio.numero" value="{{ jinete.domicilio.numero }}" required>
            </div>

            
            <div class="form-group">
                <label for="domicilio.piso">Piso:</label>
                <input type="text" id="domicilio.piso" name="domicilio.piso" value="{{ jinete.domicilio.piso }}" required>
            </div>

            
            <div class="form-group">
                <label for="domicilio.departamento">Departamento:</label>
                <input type="text" id="domicilio.departamento" name="domicilio.departamento" value="{{ jinete.domicilio.departamento }}" required>
            </div>

            
            <div class="form-group">
                <label for="domicilio.provincia">Provincia:</label>
                <select id="domicilio.provincia" name="domicilio.provincia" value="{{jinete.domicilio.provincia.id}}" required>
                    {% for prov in provincias %}
                        <option value="{{prov.id}}">{{prov.nombre}}</option>
                    {% endfor %}

                </select>
            </div>

                
            <div class="form-group">
                <label for="domicilio.localidad">Localidad:</label>
                <select id="domicilio.localidad" name="domicilio.localidad" value="{{jinete.domicilio.localidad.id}}" required>
                    {% for loc in localidades %}
                        <option value="{{loc.id}}">{{loc.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            
            
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="telefono" id="telefono" name="telefono" value="{{ jinete.telefono }}" required>
            </div>

            <div><strong> Contacto de emergencia: </strong></div>
            
            <div class="form-group">
                <label for="contacto_emergencia.nombre">Nombre:</label>
                <input type="text" id="contacto_emergencia.nombre" name="contacto_emergencia.nombre" value="{{ jinete.contacto_emergencia.nombre }}" required>
            </div>

            
            
            <div class="form-group">
                <label for="contacto_emergencia.apellido">Apellido:</label>
                <input type="text" id="contacto_emergencia.apellido" name="contacto_emergencia.apellido" value="{{ jinete.contacto_emergencia.apellido }}" required>
            </div>

            <div class="form-group">
                <label for="contacto_emergencia.telefono">Teléfono:</label>
                <input type="text" id="contacto_emergencia.telefono" name="contacto_emergencia.telefono" value="{{ jinete.contacto_emergencia.telefono }}" required>
            </div>
            
            <div>
                <label for="estado_pago" class="form-element">¿Está al día?</label>
                <input type="radio" id="estado_pago_si" name="estado_pago" value="si" 
                    {% if jinete.estado_pago == True %}checked{% endif %}>
                <label for="estado_pago_si">Sí</label>
                <input type="radio" id="estado_pago_no" name="estado_pago" value="no" 
                    {% if jinete.estado_pago == False %}checked{% endif %}>
                <label for="estado_pago_no">No</label>
            </div>
            
            <div>
                <label for="becado" class="form-element">Está becado:</label>
                <input type="radio" id="becado_si" name="becado" value="si" 
                    {% if jinete.becado == True %}checked{% endif %}>
                <label for="becado_si">Sí</label>
                <input type="radio" id="becado_no" name="becado" value="no" 
                    {% if jinete.becado == False %}checked{% endif %}>
                <label for="becado_no">No</label>
            </div>

            <div class="form-group">
                <label for="observaciones_becado">Observaciones:</label>
                <input type="text" id="observaciones_becado" name="observaciones_becado" value="{{ jinete.observaciones_becado }}" required>
            </div>


            
            <div>
                <label for="certificado_discapacidad" class="form-element">
                    ¿Posee certificado<br>
                    de discapacidad?
                </label>
                <input type="radio" id="certificado_si" name="certificado" value="si"
                    {% if jinete.certificado_discapacidad == True %}checked{% endif %}>
                <label for="certificado_si">Sí</label>
                <input type="radio" id="certificado_no" name="certificado" value="no"
                    {% if jinete.certificado_discapacidad == False %}checked{% endif %}>
                <label for="certificado_no">No</label>
            </div>
    
            <script>
                document.addEventListener('DOMContentLoaded', function () { //funcion para deshabilitar el tipo de diagnostico en caso de no tener certificado.
                    const radioButtons = document.querySelectorAll('input[name="certificado"]');
                    const selectDiagnostico = document.getElementById('diagnostico');
                    const selectOtro = document.getElementById('otro');
                    
                    radioButtons.forEach(radio => {
                        radio.addEventListener('change', function() {
                            // Habilita el desplegable si la opción "Sí" está seleccionada
                            if (document.getElementById('certificado_si').checked) {
                                selectDiagnostico.disabled = false;
                                selectOtro.disabled = false;
                            } else {
                                selectDiagnostico.disabled = true;
                                selectOtro.disabled = true;
                            }
                        });
                    });
                });
            </script>
            
            
            <div class="form-group">
                <label for="diagnostico">Diagnóstico:</label>
                <select id="diagnostico" name="diagnostico" value="{{jinete.diagnostico}}" required>
                    {% for diagnostico in tipos_diagnostico %}
                    <option value="{{diagnostico.name}}">{{diagnostico}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <label for="otro" class="form-element">Si es otro, indique cuál:</label>
                <input type="text" id="otro" name="otro" value="{{ jinete.otro or '' }}">
            </div>

            <div class="form-group">
                <label>Tipo de Discapacidad:</label>
                {% for tipo in tipos_discapacidad %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="{{ tipo }}" name="tipos_discapacidad" value="{{ tipo }}"
                            {% if tipo[1] in tipos_discapacidad_name %} checked {% endif %}>
                        <label class="form-check-label" for="{{ tipo }}">{{ tipo[0] }}</label>
                    </div>
                {% endfor %}
            </div>

            <div>
                <label for="asignacion_familiar" class="form-element">¿Percibe alguna asignación familiar?</label>
                <input type="radio" id="asignacion_si" name="asignacion" value="si"
                {% if jinete.asignacion_familiar == True %}checked{% endif %}>
                <label for="asignacion_si">Sí</label>

                <input type="radio" id="asignacion_no" name="asignacion" value="no"
                {% if jinete.asignacion_familiar == False %}checked{% endif %}>
                <label for="asignacion_no">No</label>
            </div>

    
            <div class="form-group">
                <label for="tipo_asignacion">Tipo de Asignación:</label>
                <select id="tipo_asignacion" name="tipo_asignacion">
                    {% for tipo in tipos_de_asignacion %}
                    <option value="{{ tipo[0] }}" {% if tipo[0] == jinete.tipo_asignacion.name %}selected{% endif %}>
                        <p> {{ tipo[1]}}</p>
                    </option>
                    {% endfor %}
                </select>
            </div>
                

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const radioButtons = document.querySelectorAll('input[name="asignacion"]');
                    const selectAsignacion = document.getElementById('tipo_asignacion'); // Asegúrate de que este ID sea correcto
                
                    radioButtons.forEach(radio => {
                        radio.addEventListener('change', function() {
                            // Habilita o deshabilita el elemento según si la opción "Sí" está seleccionada
                            selectAsignacion.disabled = !document.getElementById('asignacion_si').checked;
                        });
                    });
                });
            </script>
    

            <div>
                <label for="beneficiario_pension" class="form-element">¿Es beneficiario de alguna pensión?</label>
                <input type="radio" id="pension_si" name="beneficiario_pension" value="si"
                {% if jinete.beneficiario_pension == True %}checked{% endif %}>
                <label for="pension_si">Sí</label>
                <input type="radio" id="pension_no" name="beneficiario_pension" value="no"
                {% if jinete.beneficiario_pension == False %}checked{% endif %}>
                <label for="pension_no">No</label>
            </div>


            <div class="form-group">
                <label for="pension">Pensión:</label>
                <select id="pension" name="pension" {% if not jinete.beneficiario_pension %}disabled{% endif %}>
                    {% for pension in tipos_pensiones %}
                    <option value="{{ pension[0] }}" {% if pension[0] == jinete.pension.value %}selected{% endif %}>
                        {{ pension[1] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const radioButtons = document.querySelectorAll('input[name="beneficiario_pension"]');
                    const selectPension = document.getElementById('pension');
            
                    // Inicializa el estado del select basado en la opción seleccionada
                    selectPension.disabled = !document.getElementById('pension_si').checked;
            
                    radioButtons.forEach(radio => {
                        radio.addEventListener('change', function() {
                            // Habilita o deshabilita el elemento según si la opción "Sí" está seleccionada
                            selectPension.disabled = !document.getElementById('pension_si').checked;
                        });
                    });
                });
            </script>

            <h2><strong> SITUACIÓN PREVISIONAL </strong></h2>
            
            <div class="form-group">
                <label for="obra_social">Obra social:</label>
                <input type="text" id="obra_social" name="obra_social" value="{{ jinete.obra_social }}" required>
            </div>
            
            
            <div class="form-group">
                <label for="nro_afiliado">Nº afiliado:</label>
                <input type="text" id="nro_afiliado" name="nro_afiliado" value="{{ jinete.nro_afiliado }}" required>
            </div>

            <div>
                <label for="curatela" class="form-element"> ¿Posee curatela? </label>
                <input type="radio" id="curatela_si" name="curatela" value="si"
                {% if jinete.curatela == True %}checked{% endif %}>
                <label for="curatela_si">Sí</label>
                <input type="radio" id="curatela_no" name="curatela" value="no"
                {% if jinete.curatela == False %}checked{% endif %}>
                <label for="curatela_no">No</label>
            </div>
            
            
            <div class="form-group">
                <label for="observaciones_curatela">Observaciones:</label>
                <input type="text" id="observaciones_curatela" name="observaciones_curatela" value="{{ jinete.observaciones_curatela or '' }}">
            </div>

            <h2><strong> INSTITUCIÓN ESCOLAR a la que CONCURRE ACTUALMENTE </strong></h2>
            
            <div class="form-group">
                <label for="nombre_institucion">Nombre de la institución:</label>
                <input type="text" id="nombre_institucion" name="nombre_institucion" value="{{ jinete.nombre_institucion }}" required>
            </div>
            
            <div><strong>Dirección de la institución:</strong></div>

            <div class="form-group">
                <label for="direccion.calle">Calle:</label>
                <input type="text" id="direccion.calle" name="direccion.calle" value="{{ jinete.direccion.calle }}" required>
            </div>
            
            
            <div class="form-group">
                <label for="direccion.numero">Número:</label>
                <input type="text" id="direccion.numero" name="direccion.numero" value="{{ jinete.direccion.numero }}" required>
            </div>
            
            <div class="form-group">
                <label for="direccion.piso">Piso:</label>
                <input type="text" id="direccion.piso" name="direccion.piso" value="{{ jinete.direccion.piso or '' }}">
            </div>
            
            <div class="form-group">
                <label for="direccion.departamento">Departamento:</label>
                <input type="text" id="direccion.departamento" name="direccion.departamento" value="{{ jinete.direccion.departamento or '' }}">
            </div>
            
            <div class="form-group">
                <label for="direccion.provincia">Provincia:</label>
                <select id="direccion.provincia" name="direccion.provincia" value="{{jinete.direccion.provincia.id}}" required>
                    {% for prov in provincias %}
                    <option value="{{prov.id}}">{{prov.nombre}}</option>
                    {% endfor %}
                    
                </select>
            </div>
            
            <div class="form-group">
                <label for="direccion.localidad">Localidad:</label>
                <select id="direccion.localidad" name="direccion.localidad" value="{{jinete.direccion.localidad.id}}" required>
                    {% for loc in localidades %}
                    <option value="{{loc.id}}">{{loc.nombre}}</option>
                    {% endfor %}
                    
                </select>
            </div>
            
            <div class="form-group">
                <label for="telefono_institucion">Teléfono:</label>
                <input type="text" id="telefono_institucion" name="telefono_institucion" value="{{ jinete.telefono_institucion }}" required>
            </div>
            

            <div class="form-group">
                <label for="grado">Grado:</label>
                <input type="text" id="grado" name="grado" value="{{ jinete.grado }}" required>
            </div>

            <div class="form-group">
                <label for="observaciones_institucion">Observaciones:</label>
                <input type="text" id="observaciones_institucion" name="observaciones_institucion" value="{{ jinete.observaciones_institucion }}">
            </div>

            
            <div class="form-group">
                <label for="profesionales">PROFESIONALES que lo ATIENDEN:</label>
                <input type="text" id="profesionales" name="profesionales" value="{{ jinete.profesionales }}">
            </div>

            <h2><strong> DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s </strong></h2>

            {%if  familiares %}
                {% for familiar in familiares %}
                    <div class="form-group">
                        <label for="familiar.parentesco_familiar">Parentesco:</label>
                        <input type="text" id="familiar.parentesco_familiar" name="familiar.parentesco_familiar" value="{{ familiar.parentesco_familiar }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="familiar.nombre_familiar">Nombre:</label>
                        <input type="text" id="familiar.nombre_familiar" name="familiar.nombre_familiar" value="{{ familiar.nombre_familiar }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="familiar.apellido_familiar">Apellido:</label>
                        <input type="text" id="familiar.apellido_familiar" name="familiar.apellido_familiar" value="{{ familiar.apellido_familiar }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="familiar.dni_familiar">DNI:</label>
                        <input type="text" id="familiar.dni_familiar" name="familiar.dni_familiar" value="{{ familiar.dni_familiar }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="domicilio_familiar.calle">Calle:</label>
                        <input type="text" id="domicilio_familiar.calle" name="domicilio_familiar.calle" value="{{ jinete.domicilio_familiar.calle }}" required>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="domicilio_familiar.numero">Número:</label>
                        <input type="text" id="domicilio_familiar.numero" name="domicilio_familiar.numero" value="{{ jinete.domicilio_familiar.numero }}" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="domicilio_familiar.piso">Piso:</label>
                        <input type="text" id="domicilio_familiar.piso" name="domicilio_familiar.piso" value="{{ jinete.domicilio_familiar.piso or '' }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="domicilio_familiar.departamento">Departamento:</label>
                        <input type="text" id="domicilio_familiar.departamento" name="domicilio_familiar.departamento" value="{{ jinete.domicilio_familiar.departamento or '' }}">
                    </div>
                
                            
                    <div class="form-group">
                        <label for="familiar.domicilio_familiar_provincia">Provincia:</label>
                        <select id="familiar.domicilio_familiar_provincia" name="familiar.domicilio_familiar_provincia" value="{{familiar.domicilio_familiar_provincia_id}}">
                            {% for prov in provincias %}
                                <option value="{{prov.id}}">{{prov.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="familiar.domicilio_familiar_localidad">Localidad:</label>
                        <select id="familiar.domicilio_familiar_localidad" name="familiar.domicilio_familiar_localidad" value="{{familiar.domicilio_familiar_localidad_id}}">
                            {% for loc in localidades %}
                                <option value="{{loc.id}}">{{loc.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                            
                    <div class="form-group">
                        <label for="familiar.celular_familiar">Celular:</label>
                        <input type="text" id="familiar.celular_familiar" name="familiar.celular_familiar" value="{{ familiar.celular_familiar }}">
                    </div>

                    <div class="form-group">
                        <label for="familiar.email_familiar">Email:</label>
                        <input type="text" id="familiar.email_familiar" name="familiar.email_familiar" value="{{ familiar.email_familiar }}">
                    </div>

                    <div class="form-group">
                        <label for="familiar.nivel_escolaridad_familiar">Nivel de escolaridad:</label>
                        <input type="text" id="familiar.nivel_escolaridad_familiar" name="familiar.nivel_escolaridad_familiar" value="{{ familiar.nivel_escolaridad_familiar }}">
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="familiar.actividad_ocupacion_familiar">Actividad u ocupación:</label>
                        <input type="text" id="familiar.actividad_ocupacion_familiar" name="familiar.actividad_ocupacion_familiar" value="{{ familiar.actividad_ocupacion_familiar }}">
                    </div>
                {% endfor %}
            {% else %}
                
            <h2><strong> (OPCIONAL: ) AGREGAR DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s </strong></h2>
            <div class="form-group">
                <label for="nuevo_familiar.parentesco_familiar">Parentesco:</label>
                <input type="text" id="nuevo_familiar.parentesco_familiar" name="nuevo_familiar.parentesco_familiar" value="">
            </div>
            
            <div class="form-group">
                <label for="nuevo_familiar.nombre_familiar">Nombre:</label>
                <input type="text" id="nuevo_familiar.nombre_familiar" name="nuevo_familiar.nombre_familiar" value="">
            </div>
            
            <div class="form-group">
                <label for="nuevo_familiar.apellido_familiar">Apellido:</label>
                <input type="text" id="nuevo_familiar.apellido_familiar" name="nuevo_familiar.apellido_familiar" value="">
            </div>
            
            <div class="form-group">
                <label for="nuevo_familiar.dni_familiar">DNI:</label>
                <input type="text" id="nuevo_familiar.dni_familiar" name="nuevo_familiar.dni_familiar" value="">
            </div>
            
            <div class="form-group">
                <label for="domicilio_familiar.calle">Calle:</label>
                <input type="text" id="domicilio_familiar.calle" name="domicilio_familiar.calle" value="{{ jinete.domicilio_familiar.calle }}" required>
            </div>
            
            
            <div class="form-group">
                <label for="domicilio_familiar.numero">Número:</label>
                <input type="text" id="domicilio_familiar.numero" name="domicilio_familiar.numero" value="{{ jinete.domicilio_familiar.numero }}" required>
            </div>
            
            <div class="form-group">
                <label for="domicilio_familiar.piso">Piso:</label>
                <input type="text" id="domicilio_familiar.piso" name="domicilio_familiar.piso" value="{{ jinete.domicilio_familiar.piso or '' }}">
            </div>
            
            <div class="form-group">
                <label for="domicilio_familiar.departamento">Departamento:</label>
                <input type="text" id="domicilio_familiar.departamento" name="domicilio_familiar.departamento" value="{{ jinete.domicilio_familiar.departamento or '' }}">
            </div>
            
            <div class="form-group">
                <label for="nuevo_familiar.domicilio_familiar_provincia">nuevo_familiar.domicilio_familiar_provincia</label>
                <select id="nuevo_familiar.domicilio_familiar_provincia" name="nuevo_familiar.domicilio_familiar_provincia" value="">
                    {% for prov in provincias %}
                        <option value="{{prov.id}}">{{prov.nombre}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="nuevo_familiar.domicilio_familiar_localidad">nuevo_familiar.domicilio_familiar_localidad</label>
                <select id="nuevo_familiar.domicilio_familiar_localidad" name="nuevo_familiar.domicilio_familiar_localidad" value="">
                    {% for loc in localidades %}
                        <option value="{{loc.id}}">{{loc.nombre}}</option>
                    {% endfor %}

                </select>
            </div>
            

            <div class="form-group">
                <label for="nuevo_familiar.celular_familiar">Celular:</label>
                <input type="text" id="nuevo_familiar.celular_familiar" name="nuevo_familiar.celular_familiar" value="">
            </div>
            <div class="form-group">
                <label for="nuevo_familiar.nivel_escolaridad_familiar">Nivel de escolaridad:</label>
                <input type="text" id="nuevo_familiar.nivel_escolaridad_familiar" name="nuevo_familiar.nivel_escolaridad_familiar" value="">
            </div>
            
            <div class="form-group">
                <label for="nuevo_familiar.email_familiar">Email:</label>
                <input type="text" id="nuevo_familiar.email_familiar" name="nuevo_familiar.email_familiar" value="">
            </div>
            
            <div class="form-group">
                <label for="nuevo_familiar.actividad_ocupacion_familiar">Actividad u ocupación:
                </label>
                <input type="text" id="nuevo_familiar.actividad_ocupacion_familiar" name="nuevo_familiar.actividad_ocupacion_familiar" value="">
            </div>
            
        {% endif %}

        
        <div class="form-group">
            <label for="trabajo_institucional">Trabajo institucional:</label>
            <select id="trabajo_institucional" name="trabajo_institucional">
                {% for trabajo in trabajos_institucionales %}
                <option value="{{ trabajo[0] }}" {% if trabajo[0] == jinete.trabajo_institucional.value %}selected{% endif %}>
                    {{ trabajo[1] }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        
        <div>
            <label for="condicion" class="form-element">Condición:</label>
            <input type="radio" id="condicion_si" name="condicion" value="si" 
                {% if jinete.condicion == True %}checked{% endif %}>
            <label for="condicion_si">Sí</label>
            
            <input type="radio" id="condicion_no" name="condicion" value="no" 
                {% if jinete.condicion == False %}checked{% endif %}>
            <label for="condicion_no">No</label>
        </div>

        
        <div class="form-group">
            <label for="sede">Sede:</label>
            <select id="sede" name="sede">
                {% for sede in list_sedes %}
                <option value="{{ sede[0] }}" {% if sede[0] == jinete.sede.value %}selected{% endif %}>
                    {{ sede[1] }}
                </option>
                {% endfor %}
            </select>
        </div>
        

        <div class="form-group">
            <label>Días:</label>
            {% for dia in dias_semana %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ dia }}" name="dias_semana" value="{{ dia }}"
                        {% if dia[1] in jinete_dias_name %} checked {% endif %}>
                    <label class="form-check-label" for="{{ dia }}">{{ dia[0] }}</label>
                </div>
            {% endfor %}
        </div>
        

        <div class="form-group">
            <label for="profesor_o_terapeuta">Profesor/a o Terapeuta:</label>
            <select id="profesor_o_terapeuta" name="profesor_o_terapeuta" value="{{jinete.profesor_o_terapeuta.id}}" required>
                {% for prof in list_profes_terapeutas %}
                    <option value="{{prof.id}}">{{prof.apellido}} {{prof.nombre}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <label for="conductor_caballo">Conductor/a del Caballo:</label>
            <select id="conductor_caballo" name="conductor_caballo" value="{{jinete.conductor_caballo.id}}" required>
                {% for conductor in list_conductores %}
                <option value="{{conductor.id}}">{{conductor.apellido}}  {{conductor.nombre}}  </option>
                {% endfor %}
            </select>
        </div>
        
        
        
        <div class="form-group">
            <label for="caballo">Caballo:</label>
            <select id="caballo" name="caballo" value="{{jinete.caballo.id}}" required>
                {% for caballo in list_caballos %}
                    <option value="{{caballo.id}}">{{caballo.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        
    
        
        <div class="form-group">
            <label for="auxiliar_pista">Auxiliar de Pista:</label>
            <select id="auxiliar_pista" name="auxiliar_pista" value="{{jinete.auxiliar_pista.id}}" required>
                {% for auxiliar in list_auxiliares_pista %}
                    <option value="{{auxiliar.id}}">{{auxiliar.apellido}}  {{auxiliar.nombre}}  </option>
                {% endfor %}
            </select>
        </div>        
    
            <div>
                <button type="submit" style="margin: 10px;" class="btn btn-submit">Guardar Cambios</button>
                <a href="{{ url_for('jya.listar_jinetes') }}" class="btn btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}