{% extends "layout.html" %}

{% block title %}Eliminar jinete{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Eliminar jinete</h1>

    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ jinete.nombre }}" readonly>
    </div>

    <div>
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" value="{{ jinete.apellido }}" readonly>
    </div>

    <div>
        <label for="dni">Dni</label>
        <input type="text" id="dni" name="dni" value="{{ jinete.dni }}" readonly>
    </div>

    <p>¿Estás seguro de que deseas eliminar este cliente?</p>

    <div class="form-actions">
        <form action="{{ url_for('jya.delete_jinete', jinete_id=jinete.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Confirmar</button>
        </form>
        <a href="{{ url_for('jya.listar_jinetes') }}" class="btn btn-secondary">Cancelar</a>
    </div>
{% endblock %}
