{% extends "layout.html" %}

{% block title %} Listado de Jinetes {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <h1 class="text-center">Listado de jinetes.</h1>

    <div class="actions">
        <a href="{{ url_for('jinete.add_jinete_form') }}" class="btn btn-add">Agregar Jinete</a>
    </div>
    

        
    <form method="GET" action="{{ url_for('jinete.listar_jinetes') }}" class="mb-3">
        <label for="sort_by">Ordenar por:</label>
        <select name="sort_by" id="sort_by">
            <option value="nombre_asc">Nombre (Ascendente)</option>
            <option value="nombre_desc">Nombre (Descendente)</option>
            <option value="apellido_asc">Apellido (Ascendente)</option>
            <option value="apellido_desc">Apellido (Descendente)</option>
        </select>

        <label for="Diagnostico">Diagnostico:</label>
        <select name="diagnostico" id="diagnostico">
            <option value="cualquiera">Cualquiera</option>
        </select>
        <input type="text" id="search" name="search" placeholder="Nombre, apellido o DNI">
        <button type="submit" class="btn btn-sort">Ordenar/Buscar</button>
    </form>

    <p>Jinetes:</p>
    {% if jinetes %}

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>DNI</th>
                <th>Profesión</th>
                <th>diagnostico</th>
            </tr>
        </thead>
        <tbody>
        {% for jin in jinetes %}
            <tr>
                <td>{{jin.nombre}}</td>
                <td>{{jin.apellido}}</td>
                <td>{{jin.email}}</td>
                <td>{{jin.dni}}</td>
                <td>{{jin.diagnostico}}</td>
                <td>
                    <a href="{{ url_for('jinete.edit_jinete_form', jinete_id=jin.id) }}" class="btn btn-edit">UPDATE</a>
                    <a href="{{ url_for('jinete.delete_jinete', jinete_id=jin.id) }}" class="btn btn-del">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay jinetes para mostrar.</p>
    {% endif %}

{% endblock %}
