{% extends "layout.html" %}

{% block title %}Ver jinete{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div>
        <h1 class="text-center">Legajo del jinete</h1>

        <!-- Contenedor de pestañas -->
        <div class="tab-container">
            <div class="tab active" onclick="openTab(event, 'general')">Información general</div>
            <div class="tab" onclick="openTab(event, 'documentos')">Documentos</div>
        </div>

        <!-- Contenido de la pestaña "Información general" -->
        <div id="general" class="tab-content active">
            <h2><strong> DATOS PERSONALES DEL JINETE O AMAZONA </strong></h2>
            <div class="image-container">
                <p><strong>Imagen:</strong></p>
                <img src={{ avatar_url(jinete.avatar) }} alt="Avatar" width="30" height="30">
            </div>
            <p><strong>Nombre/s:</strong> {{ jinete.nombre }}</p>
            <p><strong>Apellido/s:</strong> {{ jinete.apellido }}</p>
            <p><strong>DNI:</strong> {{ jinete.dni }}</p>
            <p><strong>Edad:</strong> {{ jinete.edad }}</p>
            <p><strong>Fecha de nacimiento:</strong> {{ jinete.fecha_nacimiento.strftime('%d/%m/%Y') }}</p>
            <p><strong>Lugar de nacimiento:</strong> {{ jinete.provincia_nacimiento.nombre }}, {{ jinete.localidad_nacimiento.nombre }}</p> 
            <!-- Domicilio actual (calle, nro, depto, localidad, provincia) -->
            <p><strong>Domicilio actual:</strong> Calle: {{ jinete.domicilio.calle }}, numero: {{ jinete.domicilio.numero }}, piso: {{ jinete.domicilio.piso | default('-', true) }}, departamento: 
                {{ jinete.domicilio.departamento | default('-', true) }}, {{ jinete.domicilio.localidad.nombre }}, {{ jinete.domicilio.provincia.nombre }}</p>
            <p><strong>Teléfono actual:</strong> {{ jinete.telefono }}</p>
            <!-- Contacto de emergencia (nombre, apellido, tel) -->
            <p><strong>Contacto de emergencia: </strong>  {{ jinete.contacto_emergencia.nombre }}, {{ jinete.contacto_emergencia.apellido }}. 
                <strong>Teléfono:</strong> {{ jinete.contacto_emergencia.telefono }}</p>
            <p><strong>BECADO:</strong> {{"SI" if jinete.becado else "NO" }}</p>
            <p><strong>Observaciones:</strong> {{ jinete.observaciones_becado }}</p>
            <p><strong>Posee certificado discapacidad:</strong> {{"SI" if jinete.certificado_discapacidad else "NO" }}</p>
            <p><strong>¿Con qué diagnóstico?</strong> {{ jinete.diagnostico.value if jinete.diagnostico.value else '-' }}</p>
            <p><strong>Si es OTRO indique cuál:</strong> {{ jinete.otro if jinete.diagnostico.value == "otro" else '-' }}</p>
            <p><strong>Tipo de Discapacidad:</strong> {{ jinete.tipos_discapacidad.name }}
                {% for tipo in tipos_discapacidad %}
                    <span>{{ tipo }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>¿Percibe alguna Asignación Familiar?</strong> {{"SI" if jinete.asignacion_familiar else "NO" }}</p>
            <p><strong>Asignaciones:</strong> {{ jinete.tipo_asignacion.value }}
                {% for tipo in tipo_asignacion %}
                    <span>{{ tipo_asignacion }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>¿Es beneficiario de alguna pensión?</strong>  {{"SI" if jinete.pension else "NO" }}</p>
            <p><strong>¿Cuál? </strong> {{ jinete.pension.value }}</p>
            <h2><strong> SITUACIÓN PREVISIONAL </strong></h2>
            <p><strong>Obra social del alumno:</strong> {{ jinete.obra_social }}</p>
            <p><strong>N° afiliado:</strong> {{ jinete.nro_afiliado }}</p>
            <p><strong>¿Posee curatela?</strong> {{"SI" if jinete.curatela else "NO" }}</p>
            <p><strong>Observaciones:</strong> {{ jinete.observaciones_curatela }}</p>

            <h2><strong> INSTITUCIÓN ESCOLAR a la que CONCURRE ACTUALMENTE </strong></h2>
            <p><strong>Nombre de la Institución: </strong> {{ jinete.nombre_institucion }}</p>
            <p><strong>Dirección: </strong> <strong>Calle: </strong>{{ jinete.domicilio.calle }}, <strong>numero: </strong>{{ jinete.domicilio.numero }}, {{ jinete.domicilio.localidad.nombre }}, {{ jinete.domicilio.provincia.nombre }}</p>
            <p><strong>Teléfono: </strong> {{ jinete.telefono_institucion }}</p>
            <p><strong>Grado / año actual: </strong> {{ jinete.grado }}</p>           
            <p><strong>Observaciones:</strong> {{ jinete.observaciones_institucion }}</p>
            <p><strong>PROFESIONALES que lo ATIENDEN: </strong> {{ jinete.profesionales }}</p>
            

            <!-- Botones solo en Información general -->
            <div class="form-actions">
                <a href="{{ url_for('jya.edit_jinete_form', jinete_id=jinete.id) }}" class="btn btn-edit">Editar jinete</a>
                <a href="{{ url_for('jya.listar_jinetes') }}" class="btn btn-back">Lista de jinetes</a>
            </div>
        </div>

        <!-- Contenido de la pestaña "Documentos" -->
        <div id="documentos" class="tab-content">
            <!-- Formulario de búsqueda y ordenamiento -->
            <form method="GET" action="{{ url_for('legajo.listar_documentos') }}" class="mb-3">
                <input type="hidden" name="tab" value="documentos">
                <label for="sort_by">Ordenar por:</label>
                <select name="sort_by" id="sort_by">
                    <option value="titulo_asc">Titulo (Ascendente)</option>
                    <option value="titulo_desc">Titulo (Descendente)</option>
                    <option value="fecha_asc">Fecha de subida (Ascendente)</option>
                    <option value="fecha_desc">Fecha de subida (Descendente)</option>
                </select>
                <button type="submit" class="btn btn-sort btn-secondary">Ordenar</button>
        
                <input type="text" id="search" name="search" placeholder="Titulo, o tipo" value="{{ request.args.get('search', '') }}">
                <button type="submit" class="btn btn-sort btn-secondary">Buscar</button>
            </form>
                
            <!-- Lista de documentos -->
            <h2>Documentos:</h2>
            {% if documentos %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Fecha subida</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>            
                    <tbody>
                        {% for doc in documentos %}
                            <tr>
                                <td>{{ doc.titulo }}</td>
                                <td>{{ doc.fecha_subida }}</td>
                                <td>{{ doc.tipo.value }}</td>
                                
                            </tr>
                        {% endfor %}
                </table>
            {% else %}
                <p>No hay documentos para mostrar.</p>
            {% endif %}
            
            <!-- Botones de acción en Documentos -->
            <div class="form-actions">
                <a href="#" class="btn btn-enlace">+ Enlace</a>
                <a href="{{ url_for('jya.edit', jinete_id=jinete.id) }}" class="btn btn-subir">↑ Subir</a>
            </div>
        </div>
    </div>

    <script>
        function openTab(evt, tabName) {
            var i, tabContent, tabs;

            // Ocultar todos los contenidos de las pestañas
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
                tabContent[i].classList.remove("active");
            }

            // Eliminar la clase "active" de todas las pestañas
            tabs = document.getElementsByClassName("tab");
            for (i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active");
            }

            // Mostrar el contenido actual y agregar clase "active" a la pestaña seleccionada
            document.getElementById(tabName).style.display = "block";
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");
        }
    </script>

{% endblock %}
