{% extends "layout.html" %}

{% block title %}Ver jinete{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <!-- Contenedor de pestañas -->
    <div class="tab-container">
        <div class="tab {% if active_tab == 'general' %}active{% endif %}" onclick="openTab(event, 'general')">Información general</div>
        <div class="tab {% if active_tab == 'documentos' %}active{% endif %}" onclick="openTab(event, 'documentos')">Documentos</div>
    </div>

    <!-- Información general -->
    <div id="general" class="tab-content {% if active_tab == 'general' %}active{% endif %}">
        <div class="caja">
            <h2><strong> DATOS PERSONALES DEL JINETE O AMAZONA </strong></h2>

            <p><strong>Nombre/s:</strong> {{ jinete.nombre }}</p>
            <p><strong>Apellido/s:</strong> {{ jinete.apellido }}</p>
            <p><strong>DNI:</strong> {{ jinete.dni }}</p>
            <p><strong>Edad:</strong> {{ jinete.edad }}</p>
            <p><strong>Fecha de nacimiento:</strong> {{ jinete.fecha_nacimiento.strftime('%d/%m/%Y') }}</p>
            <p><strong>Lugar de nacimiento:</strong> {{ jinete.provincia_nacimiento.nombre }}, {{ jinete.localidad_nacimiento.nombre }}</p> 
            <p><strong>Domicilio actual:</strong> Calle: {{ jinete.domicilio.calle }}, numero: {{ jinete.domicilio.numero }}, piso: {{ jinete.domicilio.piso | default('-', true) }}, departamento: 
                {{ jinete.domicilio.departamento | default('-', true) }}, {{ jinete.domicilio.localidad.nombre }}, {{ jinete.domicilio.provincia.nombre }}</p>
            <p><strong>Teléfono actual:</strong> {{ jinete.telefono }}</p>
            <p><strong>Contacto de emergencia: </strong>  {{ jinete.contacto_emergencia.nombre }}, {{ jinete.contacto_emergencia.apellido }}. 
                <strong>Teléfono:</strong> {{ jinete.contacto_emergencia.telefono }}</p>
            <p><strong>BECADO:</strong> {{"SI" if jinete.becado else "NO" }}</p>
            <p><strong>Observaciones:</strong> {{ jinete.observaciones_becado }}</p>
            <p><strong>Posee certificado discapacidad:</strong> {{"SI" if jinete.certificado_discapacidad else "NO" }}</p>
            <p><strong>¿Con qué diagnóstico?</strong> {{ jinete.diagnostico.value if jinete.diagnostico.value else '-' }}</p>
            {% if jinete.diagnostico.name == "otro" %}
                <p><strong>Si es OTRO indique cuál:</strong> {{ jinete.otro if jinete.otro else '-' }}</p>
            {% endif %}


            <p><strong>Tipo de Discapacidad:</strong>
                {% if jinete.discapacidades %}
                {% for tipo in jinete.discapacidades %}
                    <span>{{ tipo.tipos_discapacidad.value }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% else %}
                Ninguna.
                {% endif %}
            </p>
            <p><strong>¿Percibe alguna Asignación Familiar?</strong> {{"SI" if jinete.asignacion_familiar else "NO" }}</p>
            <p><strong>Asignaciones:</strong> {{ jinete.tipo_asignacion.value }}</p>
            <p><strong>¿Es beneficiario de alguna pensión?</strong>  {{"SI" if jinete.beneficiario_pension else "NO" }}</p>
            {% if jinete.beneficiario_pension %}
                <p><strong>¿Cuál? </strong> {{ jinete.pension.value }}</p>
            {% endif  %}
        </div>
        <div class="caja">
        <h2><strong> SITUACIÓN PREVISIONAL </strong></h2>
            <p><strong>Obra social del alumno:</strong> {{ jinete.obra_social }}</p>
            <p><strong>N° afiliado:</strong> {{ jinete.nro_afiliado }}</p>
            <p><strong>¿Posee curatela?</strong> {{"SI" if jinete.curatela else "NO" }}</p>
            <p><strong>Observaciones:</strong> {{ jinete.observaciones_curatela }}</p>
        </div>
        <div class="caja">
            <h2><strong> INSTITUCIÓN ESCOLAR a la que CONCURRE ACTUALMENTE </strong></h2>
            <p><strong>Nombre de la Institución: </strong> {{ jinete.nombre_institucion }}</p>
            <p><strong>Dirección: </strong> <strong>Calle: </strong>{{ jinete.direccion.calle }}, 
                <strong>numero: </strong>{{ jinete.direccion.numero }}, 
                {{ jinete.direccion.localidad.nombre }}, {{ jinete.direccion.provincia.nombre }}</p>
            <p><strong>Teléfono: </strong> {{ jinete.telefono_institucion }}</p>
            <p><strong>Grado / año actual: </strong> {{ jinete.grado }}</p>           
            <p><strong>Observaciones:</strong> {{ jinete.observaciones_institucion }}</p>
            <p><strong>PROFESIONALES que lo ATIENDEN: </strong> {{ jinete.profesionales }}</p>
        </div>
        <div class="caja">
            <h2><strong> DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s </strong></h2>
            {% if jinete.familiares %}
                {% for familiar in jinete.familiares %}
                    <div>
                        <p><strong>Parentesco:</strong> {{ familiar.parentesco_familiar }}</p>
                        <p><strong>Nombre:</strong> {{ familiar.nombre_familiar }}</p>
                        <p><strong>Apellido:</strong> {{ familiar.apellido_familiar }}</p>
                        <p><strong>DNI:</strong> {{ familiar.dni_familiar }}</p>
                        <p><strong>Domicilio actual:</strong> Calle: {{ familiar.domicilio_familiar.calle }}, 
                            numero: {{ familiar.domicilio_familiar.numero }}, piso: {{ familiar.domicilio_familiar.piso | default('-', true) }}, 
                            departamento: {{ familiar.domicilio_familiar.departamento | default('-', true) }}, 
                            {{ familiar.domicilio_familiar.localidad.nombre }}, {{ familiar.domicilio_familiar.provincia.nombre }}</p>
                        <p><strong>Celular:</strong> {{ familiar.celular_familiar }}</p>
                        <p><strong>Email:</strong> {{ familiar.email_familiar }}</p>
                        <p><strong>Escolaridad:</strong> {{ familiar.nivel_escolaridad_familiar.value }}</p>
                        <p><strong>Actividad / Ocupación:</strong> {{ familiar.actividad_ocupacion_familiar }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay familiares registrados.</p>
            {% endif %}         
        </div>
        <div class="caja">
            <h2><strong> TRABAJO EN NUESTRA INSTITUCIÓN </strong></h2>
            <p><strong>Propuesta de trabajo institucional:</strong> {{ jinete.trabajo_institucional.value }}</p>
            <p><strong>Condición:</strong> {{ "REGULAR" if jinete.condicion else "DE BAJA" }}</p>
            <p><strong>SEDE:</strong> {{ jinete.sede.value }}</p>
            <p><strong>Días:</strong>
                {% if jinete.dias %}
                {% for d in jinete.dias %}
                <span>{{ d.dias.value }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% else %}
                No hay días asignados.
                {% endif %}
            </p>
            
            <p><strong>Profesor/a o Terapeuta:</strong> 
                {% if jinete.profesor_o_terapeuta %}
                    {{ jinete.profesor_o_terapeuta.apellido }} {{ jinete.profesor_o_terapeuta.nombre }}
                {% else %}
                    Ninguno asignado.
                {% endif %}
            </p>
            <p><strong>Conductor/a del Caballo:</strong> 
                {% if jinete.conductor_caballo %}
                    {{ jinete.conductor_caballo.apellido }} {{ jinete.conductor_caballo.nombre }}
                {% else %}
                    Ninguno asignado.
                {% endif %}
            </p>
            
            <p><strong>Caballo:</strong> {{ jinete.caballo.nombre  or "Ninguno asignado."}}</p>
            <p><strong>Auxiliar de Pista:</strong> 
                {% if jinete.auxiliar_pista %}
                    {{ jinete.auxiliar_pista.apellido }} {{ jinete.auxiliar_pista.nombre }}
                {% else %}
                    Ninguno asignado.
                {% endif %}
            </p>
        </div>

        <!-- Botones solo en Información general -->
        <div class="form-actions">
            <a href="{{ url_for('jya.edit_jinete_form', jinete_id=jinete.id) }}" class="btn btn-edit" style="margin-right: 1em;">Editar jinete</a>
            <a href="{{ url_for('jya.delete_jinete_form', jinete_id=jinete.id) }}" class="btn btn-delete" style="margin-right: 1em;">Eliminar jinete</a>
            <a href="{{ url_for('jya.listar_jinetes') }}" class="btn btn-back">Lista de jinetes</a>
        </div>
    </div>

    <!-- Contenido de la pestaña "Documentos" -->
    <div id="documentos" class="tab-content {% if active_tab == 'documentos' %}active{% endif %}">
        <!-- Formulario de búsqueda y ordenamiento -->
        <form method="GET" action="{{ url_for('jya.view_jinete', jinete_id=jinete.id) }}" class="mb-3">
            <div class="form-row">
                <div class="form-group col-6">
                    <input type="hidden" name="tab" value="documentos">
                    <label for="sort_by">Ordenar por:</label>
                    <select name="sort_by" id="sort_by" class="form-control">
                        <option value="titulo_asc">Titulo (Ascendente)</option>
                        <option value="titulo_desc">Titulo (Descendente)</option>
                        <option value="fecha_asc">Fecha de subida (Ascendente)</option>
                        <option value="fecha_desc">Fecha de subida (Descendente)</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="sort_by">Buscar:</label>
                    <input type="text" id="search" name="search" placeholder="Título o tipo" class="form-control" value="{{ request.args.get('search', '') }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-sort">Ordenar</button>
                </div>
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-sort">Buscar</button>
                </div>
            </div>
        </form>


        <!-- Lista de documentos -->
        <h2>Documentos y enlaces:</h2>
        {% if documentos %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha subida</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in documentos %}
                        <tr>
                            <td>{{ doc.nombre_archivo }}</td>
                            <td>{{ doc.fecha_subida_documento.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>{% if doc.is_enlace %}
                                ENLACE
                            {% else %}
                                {{doc.tipo_documento.value}} 
                            {% endif %} </td>
                            <td>
                                <div class="btn-group d-none d-lg-block">
                                    {% if doc.is_enlace %}
                                        <a href="{{doc.url_enlace}}" class="btn btn-add">Abrir enlace</a>
                                        {% else %}
                                        <a href="{{ url_for('jya.mostrar_archivo', jinete_id=jinete.id, file_name=doc.titulo_documento) }}" class="btn btn-add" download>Descargar</a>
                                    {% endif %}
                                    {% if doc.is_enlace %}
                                        <a href="{{ url_for('jya.edit_enlace_form', jinete_id=jinete.id, documento_id=doc.id) }}" class="btn btn-edit" >Editar</a>
                                        {% else %}
                                        <a href="{{ url_for('jya.edit_documento_form', jinete_id=jinete.id, documento_id=doc.id) }}" class="btn btn-edit" >Editar</a>
                                    {% endif %}
                                    <a href="{{ url_for('jya.eliminar_documento_form', jinete_id=jinete.id, documento_id=doc.id) }}" class="btn btn-delete">Eliminar</a>
                            </div>
                            <div class="dropdown action-dropdown d-block d-lg-none">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton{{ jinete.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Acciones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ jinete.id }}">
                                    {% if doc.is_enlace %}
                                        <a class="dropdown-item" href="{{doc.url_enlace}}">Abrir enlace</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ url_for('jya.mostrar_archivo', jinete_id=jinete.id, file_name=doc.nombre_archivo) }}"download>Descargar</a>
                                    {% endif %}
                                    {% if doc.is_enlace %}
                                        <a class="dropdown-item" href="{{ url_for('jya.edit_enlace_form', jinete_id=jinete.id, documento_id=doc.id) }}">Editar</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ url_for('jya.edit_documento_form', jinete_id=jinete.id, documento_id=doc.id) }}">Editar</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ url_for('jya.eliminar_documento_form', jinete_id=jinete.id, documento_id=doc.id) }}">Eliminar</a>
                                </div>
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var actionButtons = document.querySelectorAll('.action-dropdown .dropdown-toggle');
                        var actionMenus = document.querySelectorAll('.action-dropdown .dropdown-menu');
                        actionButtons.forEach(function(button, index) {
                            button.addEventListener('click', function(event) {
                                event.stopPropagation();
                                var currentMenu = actionMenus[index];
                                currentMenu.style.display = currentMenu.style.display === 'block' ? 'none' : 'block';
                            });
                        });
                        window.onclick = function(event) {
                            if (!event.target.matches('.dropdown-toggle')) {
                                actionMenus.forEach(function(menu) {
                                    if (menu.style.display === 'block') {
                                        menu.style.display = 'none';
                                    }
                                });
                            }
                        };
                    });
                </script>
            </table>
            
            <!-- Paginación -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if documentos.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('jya.view_jinete', jinete_id=jinete.id, page=documentos.prev_num, tab='documentos') }}" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_num in documentos.iter_pages() %}
                        {% if page_num %}
                            <li class="page-item {% if page_num == documentos.page %}active{% endif %}">
                                <a class="page-link" href="{{ url_for('jya.view_jinete', jinete_id=jinete.id, page=page_num, tab='documentos') }}">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">…</span></li>
                        {% endif %}
                    {% endfor %}
                    {% if documentos.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('jya.view_jinete', jinete_id=jinete.id, page=documentos.next_num, tab='documentos') }}" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <p>No hay documentos para mostrar.</p>
        {% endif %}

        <!-- Botones de acción solo para Documentos -->
        <div class="form-actions">
            <a href="{{ url_for('jya.subir_enlace_form', jinete_id=jinete.id) }}" class="btn btn-enlace" style="margin-right: 1em;">+ Enlace</a>
            <a href="{{ url_for('jya.add_documento_form', jinete_id=jinete.id) }}" class="btn btn-subir">↑ Subir</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var activeTab = "{{ active_tab }}";
            if (activeTab) {
                openTab(null, activeTab);
            } else {
                openTab(null, 'general');
            }
        });
        
        function openTab(evt, tabName) {
            var i, tabContent, tabs;
        
            // Ocultar todos los contenidos de las pestañas
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
                tabContent[i].classList.remove("active");
            }
        
            // Eliminar la clase "active" de todas las pestañas
            tabs = document.getElementsByClassName("tab");
            for (i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active");
            }
        
            // Mostrar el contenido actual y agregar clase "active" a la pestaña seleccionada
            var currentTab = document.getElementById(tabName);
            if (currentTab) {
                currentTab.style.display = "block";
                currentTab.classList.add("active");
            }
        
            // Marcar la pestaña como activa
            if (evt) {
                evt.currentTarget.classList.add("active");
            } else {
                Array.from(tabs).forEach(function(tab) {
                    if (tab.getAttribute('onclick').includes("'" + tabName + "'")) {
                        tab.classList.add("active");
                    }
                });
            }
            
            document.addEventListener("DOMContentLoaded", function() {
                var activeTab = "{{ active_tab }}";
                openTab({ currentTarget: document.querySelector('.tab[onclick*="' + activeTab + '"]') }, activeTab);
            });
        }
    </script>
{% endblock %}