{% extends "layout.html" %}

{% block title %}Carga de nuevo jinete{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="text-center">Carga de jinete</h1>
    
    <form action="{{ url_for('jya.add_jinete') }}" method="POST">
        
        <h2><strong> Documento a agregar: </strong></h2>
                
        <div>
            <label for="titulo" class="form-element">Titulo:</label>
            {{ form.titulo }}
        </div>
        
        <div>
            <label for="tipo" class="form-element">Tipo:</label>
            {{ form.tipo }}
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Agregar documento</button>
            <a href="{{ url_for('legajo.listar_documentos') }}" class="btn btn-cancel">Cancelar</a>
        </div>


    </form>
{% endblock %}